<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/register">register</a></p>
<p><a href="/login">login</a></p>
<p><a href="/user">user</a></p>
<p><a href="/funds">funds</a></p>
<p><a href="/reservations">reservations</a></p>
<p><a href="/reservations/1">reservations/1</a></p>
<p><a href="/checkout">checkout</a></p>
<p><a href="/fitness_center">fitness_center</a></p>
<!--<p><a href="/fitness_center/1">fitness_center/1</a></p>-->
<p><a href="/fitness_center/1/service">fitness_center/1/service</a></p>
<p><a href="/fitness_center/1/service/1">fitness_center/1/service/1</a></p>
<p><a href="/fitness_center/1/trainer">fitness_center/1/trainer</a></p>
<p><a href="/fitness_center/1/trainer/1">fitness_center/1/trainer/1</a></p>
<p><a href="/fitness_center/1/trainer/1/score">fitness_center/1/trainer/1/score</a></p>
<p><a href="/fitness_center/1/loyality_programs">fitness_center/1/loyality_programs</a></p>

</body>
</html>