<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
fitness center {{gym_id}} service {{service_id}} info {{res}}
<form action='/pre_reservation' method="POST">
    <input type="hidden" name="gym_id" value="{{ gym_id }}">

    <input type="hidden" name="res" value="{{ res }}">

    <input type="hidden" name="service_id" value="{{ service_id }}">
    <input type="submit" value="Перейти к бронированию">
    <label for="trainer_id">Choose trainer_id:</label>

        <select name="trainer_id" id="trainer_id">
    {% for service in res %}
    <option value="{{ service['trainer_id'] }}">{{ service['trainer_name'] }}</option>
    {% endfor %}
<input type="date" id="start" name="desired_date" value="2024-07-22" min="2024-05-30" max="2024-05-31" />
</select>

</form>
</body>
</html>